[submodule "util_xstate"]
	path = util_xstate
	url = https://github.com/kindkitchen/util_xstate.git
[submodule "util_plopper"]
	path = util_plopper
	url = https://github.com/kindkitchen/util_plopper.git
[submodule "hft_api"]
	path = hft_api
	url = https://github.com/kindkitchen/hft_api.git
[submodule "hft_order_book_data_source"]
	path = hft_order_book_data_source
	url = https://github.com/kindkitchen/hft_order_book_data_source.git
