name: Protect branches

on:
  pull_request:
    branches: main

jobs:
  block_protected_branches:
    runs-on: ubuntu-latest
    steps:
      - name: Check branch
        run: |
          ### List of branches you want to block PRs from
          protected=("main_dist" "another_branch_to_block")

          ### Get the source branch of the PR
          PR_BRANCH="${{ github.head_ref }}"

          for b in "${protected[@]}"; do
            if [[ "$PR_BRANCH" == "$b" ]]; then
              echo "Pull requests from branch '$b' are not allowed!"
              exit 1
            fi
          done

          echo "Branch is allowed."
