name: Deploy

on:
  workflow_call:
    inputs:
      environment:
        description: Repository environment
        type: string
        required: true
      tag:
        description: Technically it can be tag or branch
        type: string
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
          token: ${{ secrets.HFT_GITHUB_SUBMODULES_ACCESS_TOKEN }}
      - uses: kindkitchen/genv@v1.0.0
        with:
          vars_obj: ${{ toJson(vars) }}
          secrets_obj: ${{ toJson(secrets) }}
          dotenv_content: |
            TAG: ${{ inputs.tag }}
      - name: Create new branch to flat submodules into one deployable repository
        run: bash ./.github/script/detach_submodules.sh
